@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
* {
    font-family: 'Sen';
    box-sizing: border-box;
    user-select: none;
}
body{
    margin:0;
    padding: 0;
    background-color: #fff;
}
#canvas0{
    display: block;
    margin:0 auto;
    position: absolute;
    top:0;
    left:0;
    width: 50vw;
    height: 100vh;
    background-color:  rgb(51, 50, 65);
} 
#canvas1{
    display: block;
    margin:0 auto;
    position: absolute;
    top:0;
    right:0;
    width: 50vw;
    height: 100vh;
    background-color:  rgb(51, 50, 65);
} 
#overlay0{
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 50vw;
    height: 100vh;
    z-index: 2;
}
#show0{
    position: absolute;
    display: none;
    color: white;
    width: 50%;
    top:25%;
    left:25vw;
    padding: 20px 0;
    font-size: 2em;
    transform: translateX(-50%);
    text-align: center;
    background-color:rgb(238, 165, 56,0.8);
    z-index: 3;
}
#pause0{
    position: absolute;
    height: 20vh;
    width: 10vh;
    left: 40%;
    top:4vh;
    z-index: 1;
}
#resume0{
    position: absolute;
    height: 15vh;
    width: 15vh;
    left:25vw;
    top:30%;
    transform: translateX(-50%);
    z-index: 3;
}
#restart0{
    position: absolute;
    height: 15vh;
    width: 15vh;
    left:25vw;
    top:52%;
    transform: translateX(-50%);
    z-index: 3;
}
#overlay1{
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.4);
    top:0;
    right:0;
    width: 50vw;
    height: 100vh;
    z-index: 2;
}
#show1{
    position: absolute;
    display: none;
    color: white;
    width: 50%;
    left:75vw;
    top:25%;
    padding: 20px 0;
    font-size: 2em;
    text-align: center;
    transform: translateX(-50%);
    background-color:rgb(238, 165, 56,0.8);
    z-index: 3;
}
#pause1{
    position: absolute;
    height: 20vh;
    width: 10vh;
    left:90%;
    top:4vh;
    z-index: 1;
}
#resume1{
    position: absolute;
    height: 15vh;
    width: 15vh;
    left:75vw;
    top:30%;
    transform: translateX(-50%);
    z-index: 3;
}
#restart1{
    position: absolute;
    height: 15vh;
    width: 15vh;
    left:75vw;
    top:52%;
    transform: translateX(-50%);
    z-index: 3;
}
